#red-square{
  height: 300px;
  width: 300px;
  background-color: crimson;
  position: absolute;
  top: 0;
  left: 0;
}


.red-square{
  height: 300px;
  width: 300px;
  background-color: crimson;
  position: absolute;
  top: 0;
  left: 0;
}

